@font-face {
	font-family: 'Gothic';
	font-style: medium;
	font-weight: 500;
	src: local('Gothic'), url('./all-round-gothic/all-round-gothic-medium.otf');
}

@font-face {
	font-family: 'Saygon';
	font-style: normal;
	font-weight: 400;
	src: local('Saygon'), url('./saygon/CASaygonText-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Sans'), url('./fira-sans/FiraSans-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Oswald';
	font-style: bold;
	font-weight: 700;
	src: local('Sans'), url('./oswald/Oswald-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Oswald';
	font-style: normal;
	font-weight: 400;
	src: local('Sans'), url('./oswald/Oswald-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Oswald';
	font-style: medium;
	font-weight: 500;
	src: local('Sans'), url('./oswald/Oswald-Medium.ttf') format('truetype');
}
